<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/shifty.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/raphael.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/jquery-1.12.0.min.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/jquery.autoresize.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/jquery-touch_punch.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/jquery.contextmenu.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/rgbcolor.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/canvg.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/Class.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/json2.js"></SCRIPT>
    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/lib/pathfinding-browser.min.js"></SCRIPT>

    <SCRIPT src="http://draw2d.org/draw2d_touch/jsdoc_6/draw2d/src/draw2d.js"></SCRIPT>
  </head>
  <body>
  </body>
</html>